//  Copyright © 2021 Krasavchik OOO. All rights reserved.

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

//----------------------------------------------------------------------
// App settings
//----------------------------------------------------------------------
APP_DISPLAY_NAME = MyFamily (DebugProd)
APP_BUILD_TYPE = production // production, qa

APP_API_STAGING = https:/$()/api.apptemplate.effective.band
APP_API_PRODUCTION = https:/$()/api.apptemplate.effective.band

//----------------------------------------------------------------------
// Override settings
//----------------------------------------------------------------------
PRODUCT_BUNDLE_IDENTIFIER = band.effective.apptemplate
DEVELOPMENT_TEAM = JVX7U43WRX
